body{
    background-color: #0097D3;
    width: 100%;
}

.container{
    background-color: #FDFFFC;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    height: auto;
    padding: 30px;
    border-radius: 4px;
    border: 2px solid #FDFFFC;
}

h1{
    margin-top: 0;
    padding-bottom: 20px;
    color: #63EDDB;
    text-align: center;
    font-family: 'Yatra One', cursive;
    border-bottom: 1px solid #CCFEF4;
}

button{
    padding: 5px 45px 5px 45px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #7CC6FE;
    background-color: #7CC6FE;
    color: #CCFEF4;
    font-size: 20px;
    margin-left: 30%;

}

button:hover{
    cursor: pointer;
}

p{
    margin: 5px 0 5px 0;
    text-align: right;
    padding-right: 70px;
}

input{
    border-radius: 2px;
    border: 1px solid #CCFEF4;
    font-size: 15px;
}

.back-to-main{
    position: relative;
    clear: both;
    text-align: center;
    top: 30px;
    margin-bottom: 20px;
}
.back-to-main > a{
    text-decoration: none;
    color: #d40000;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-radius: 2px;
    padding: 10px;
}

.back-to-main > a:hover{
    color: #CCFEF4;
    background-color: red;
    border-radius: 5px;
}

span{
    color: #63EDDB;
    text-align: right;
}

#dob{
    text-align: center;
}

