
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500');

body{
    width: 100%;
}

.container{
    display: block;
    width: 100%;   
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

h1{
    margin-top: 0;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid rgb(61, 157, 179);
    color: rgb(61, 157, 179);
}

button{
    padding: 5px 45px 5px 45px;
    border-radius: 3px;
    border: 1px solid rgb(61, 157, 179);
    background: rgb(61, 157, 179);
    color: #fff;
    font-size: 20px;
    margin: 5% 60%;
}

button:hover{
    cursor: pointer;
    background: rgb(74, 179, 198);
}

#dob{
    padding-left: 17px;
}

.my-invalid{
    background: rgba(247,76,83, 0.5);
    border: 1px solid #f74c53;
}

.my-valid{
    background: #B7F0D0;
}

div.content div.container form div input {
    float: right;
    border-radius: 4px;
    border: 1px solid #3f3f3f;
    color: #3f3f3f;
    font-size: 16px;
    padding-left: 5px;
    margin-top: -9px;
}

div.content div.container form div label {
    border: none;
    color: #3f3f3f;
    float: right;
    padding: 8px;
    position: relative;
}

div.content div.container form div {
    clear: both;
    width: 100%;
    height: auto;
}

div.content div.container form {
    right: 20%;
    position: relative;
    top: 15px;
}