div.tabs{ 
  position: relative;   
  height: 600px; /* This part sucks */
  clear: both;
  margin: 35px 0 0 30px;
  background: white;
}  

div.tab input[type='radio'] {
  display: none;
}

div.tab{
  float: left;
}

div.tab label{
  position: relative;
  top: -20px;
  padding: 10px;
  font-size: 25px;
  border: 2px solid #edf9ff;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  color: #3f3f3f;
}

div.content{
  position: absolute;
  top: 19px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  -webkit-transition: opacity .4s linear;
  opacity: 0;
  width: 50%;
  height: auto;
  background-color: #f2f8fc;
  z-index: 0;
}

div.tab input[type='radio']:checked ~ label{
  color: #3f3f3f;
  background: #f2f8fc;
  border-radius: 5px  5px 0 0;
}

div.tab input[type='radio']:checked  ~ .content{
 opacity: 1; 
 z-index: 1;
}